@model IEnumerable<WypozyczalniaFilmow.Models.Film>
@{ Layout = "_layout";}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<div class="d-flex justify-content-center mb-4">
    @foreach (var i in Model)
    {
    <div class="d-flex justify-content-center mb-4">
        <div class="card" style="width: 18rem;">
            <a href="@Url.Action("Szczegoly", "Filmy", new {idFilmu = i.Id })">
                <img class="card-img-top" src="~/plakaty/@i.Plakat" height="500dp" alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">@i.Tytul</h5>
                <p class="card-text">@i.Opis</p>
            </div>
        </div>
    </div>
    }
</div>
