@{
    ViewData["Title"] = "Home Page";

}
<header>
    <nav>
    </nav>
</header>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href ="@Url.Action("Register", "Account")"> Zarejestruj </a>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


