@{
    ViewData["Title"] = "Home Page";

}
<header>
    <nav>
    </nav>
</header>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href ="@Url.Action("Register", "Account")"> Zarejestruj </a>
</div>


