@model WypozyczalniaFilmow.Models.Film

@{Layout = "_Layout";

}

<table>
    <tr>
        <th>Nazwa</th>
        <th>Ilosc</th>
        <th>Cena</th>
    </tr>
    @foreach (var film in ViewBag.cart)
            {
        <tr id="cartItem-@film.Film.Id">
            <td>@film.Film.Tytul</td>
            <td>@film.Film.Cena zł</td>



        </tr>

    }


</table>
Razem: @ViewBag.total zł

@section Scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(".trash").click(function () {
            var idCartItem = $(this).data('id');
            if (idCartItem != '') {
                $.post("/Koszyk/Usun", { "id": idCartItem }, function (response) {
                    if (response.itemQuantity == 0) {
                        $("#cartItem-" + response.itemId).fadeOut("slow");
                    }
                    else {
                        $("#itemQuantity-" + response.itemId).text(response.itemQuantity);
                    }
                }
                );


            }


        });



    </script>

 }