@model IEnumerable<WypozyczalniaFilmow.Models.Kategoria>
<ul class="nav justify-content-center">
    @foreach (var kategoria in Model)
    {
        <li class="nav-item">
            <a href="@Url.Action(" Lista", "Filmy" , new { nazwaKategorii=kategoria.Nazwa})"> @kategoria.Nazwa </a>
        </li>
    }
</ul>